body {
    background-color: pink;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.add {
    display: flex;
    width: 800px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5em;
    transform: scale(1.2);
}

#rank {
    flex: 0 1 auto; 
    width: 80px;
    height: 35px;
}

.input {
    display: flex;
    flex-direction: column;
}

#task {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
}

#details {
    width: 600px;
    height: 30px;
}

#addButton {
    flex: 0 1 auto;
    width: 80px;
    height: 35px;
}

.task-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-right: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#checkBox {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.label-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
